.admin-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.admin-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
    color: #b40000;
    /* Rojo fuerte */
    font-weight: bold;
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}