.movie-admin-item {
    border: 2px solid #b40000;
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 8px;
    background: #ffe5e5;
}

.movie-admin-button {
    background: #b40000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background .2s;
}

.movie-admin-button:hover {
    background: #8d0000;
}