.movie-container {
    padding: 2rem;
    margin: 1.5rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 0.8rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.movie-container h2 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.movie-container p {
    font-size: 1.1rem;
    margin: 0;
    color: #444;
    line-height: 1.6rem;
}