.auth-register-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4rem;
    margin: 5rem;
    box-shadow: 1px 1px 10px grey;
    border-radius: 3rem;
}

.auth-register-image img {
    border-radius: 3rem 0 0 3rem;
    display: block;
    width: auto;
    height: 35rem;

}

.auth-title {
    text-align: center;
    margin-top: 1rem;
}

.register-form {
    width: 400px;
    margin: 4rem;
    padding: 2rem;
    background: #fafafa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #ddd;
    animation: pop .5s ease;
}

.register-form input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.register-form input:focus {
    border-color: #e24a4a;
    box-shadow: 0 0 5px rgba(226, 74, 74, 0.3);
    outline: none;
}


.register-form button {
    padding: 10px;
    border: none;
    background-color: #ececec;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.error {
    font-size: 0.85rem;
    color: red;
    margin-top: -8px;
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 1540px) {
    .auth-register-image {
        display: none;
    }

    .auth-register-container {
        display: block;

        box-shadow: none;

    }

    .register-form {

        margin: 4rem auto;

    }

}