.movie-admin-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.movie-admin-title {
    color: #b40000;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}