.home-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    animation: entry 1s ease;
    background-color: black;
    color: white;
}

.home-background {
    background-image: url('./images/pexels-tuurt-391535.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}

.home-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-container p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: white;
}

.home-container a {
    background-color: white;
    display: inline-block;
    margin: 1.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    border: 1px solid #ddd;
    transition: all 0.2s ease;
    color: black;
}

.home-container a:hover {
    background-color: #f5f5f5;
    border-color: #bbb;
}

@keyframes entry {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}