@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}